.u-section-1 .u-sheet-1 {
  min-height: 443px;
}

.u-section-1 .u-text-1 {
  margin: 164px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 17px auto 0;
  padding: 16px 30px 18px;
}

.u-section-1 .u-text-2 {
  margin: 31px auto 60px;
}